body{
  background-color: bisque;
}
.App {
  background-color: bisque;
  text-align: center;
}


header{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  background-color: lightgreen;
  height: 200px;
  margin-bottom: 100px;
}
button{
  color: lime;
  font-size: 2rem;
  margin: 10px;
}
h3{
  font-size: 4rem;
}
footer{
  margin-top: 300px;
}
p{
  color: blue;
  font-size: 2rem;
}